<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br" dir="ltr">
<head>
    <style type="text/css">
        .alert-box {
            color:#555;
            border-radius:10px;
            font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
            padding:10px 10px 10px 36px;
            margin:10px;
        }
        .alert-box span {
            font-weight:bold;
            text-transform:uppercase;
        }
        .error {
            background:#ffecec url('images/error.png') no-repeat 10px 50%;
            border:1px solid #f5aca6;
        }
        .success {
            background:#e9ffd9 url('images/success.png') no-repeat 10px 50%;
            border:1px solid #a6ca8a;
        }
        .notice {
            background:#e3f7fc url('images/notice.png') no-repeat 10px 50%;
            border:1px solid #8ed9f6;
        }
    </style>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>IBGE Library</title>
    <link href="https://biblioteca.ibge.gov.br/templates/canaisibge/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    <link href="https://biblioteca.ibge.gov.br/media/com_catalogo/css/estilo.css" rel="stylesheet" type="text/css" />
    <link href="https://biblioteca.ibge.gov.br/templates/canaisibge/css/estilo.css" rel="stylesheet" type="text/css" />
    <link href="https://biblioteca.ibge.gov.br/templates/canaisibge/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <script src="https://biblioteca.ibge.gov.br/media/jui/js/jquery.min.js?3e4a2f6632b7d855fff4d98875a1aa78" type="text/javascript"></script>
    <script src="https://biblioteca.ibge.gov.br/media/com_catalogo/js/funcoes.js" type="text/javascript"></script>
    <script src="https://biblioteca.ibge.gov.br/media/com_catalogo/js/jquery.lazyload.js" type="text/javascript"></script>
    <script src="https://biblioteca.ibge.gov.br/media/system/js/core.js?3e4a2f6632b7d855fff4d98875a1aa78" type="text/javascript"></script>
    <script src="https://biblioteca.ibge.gov.br/templates/canaisibge/javascript/script.js" type="text/javascript" defer="defer"></script>
    <script src="https://biblioteca.ibge.gov.br/templates/canaisibge/javascript/lightbox.js" type="text/javascript" defer="defer"></script>

</head>
<body style="background-color: #f1f1f1 !important;">
    <div id="geral">
        <% if (error) { %>
            <div class="alert-box error"><span>Erro: </span><%=message %></div>
        <% } %>
        <% if(success && count > 0) { %>
            <div class="alert-box success"><%=message %></div>
        <% } %>
        <% if (success && count == 0) { %>
            <div class="alert-box notice"><span>Atenção: </span>As informações já haviam sido inseridas</div>
        <% } %>
        <div id="conteudo" style="border-bottom: 0px !important;">
            <div id="conteudo_centro">
                <script>
                    var defer = defer || function defer(method) {
                    			if (window.jQuery)
                    				method();
                    			else
                    				setTimeout(function() { defer(method) }, 100);
                    		}
                    
                    function cargaurlSelect()
                    {
                    	jQuery(window).load(function() {
                    		urlSelect();
                    	});
                    }
                    
                    defer(cargaurlSelect);
                </script>
                <div id="tabwrap" style="width:131.5%; margin-left:-3%; margin-top:10%;">
                    <div id="tabs">
                        <ul>
                            <li><a id="busca-rapida" class="current" style="cursor:pointer;">busca rápida</a></li>
                            <li><a id="busca-combinada" style="cursor:pointer;">busca combinada</a></li>
                        </ul>
                        <div id="tabs-container" >
                            <div id="tabs-1" class="current" style="display: none;">
                                <form action="" id="form-busca-rapida" method="get" style="max-width: 500px;">
                                    <fieldset class="busca-acervo">
                                        <select style="width:200px;" size="1" name="acervoRapida" id="acervoRapida" onchange="javascript: preencheCampos(this.value);">
					                       <option value="todos">Todos os materiais</option>
                        					<option value="fotografia" >Fotografias</option>
                        					<option value="coleta" >Instrumentos de coleta</option>
                        					<option value="livro" >Livros</option>
                        					<option value="mapa" >Mapas</option>
                        					<option value="periodico" >Periódicos</option>
                        				</select>
                                        <br />
                                        <select style="width:200px;" size="1" name="campo0" id="campo0">
                        					<option value="todos">Todos os campos</option>
                        				</select>
                                        <input type="checkbox" name="not0" id="not0" style="display: none;" /><label for="not0" class="digital" style="display: none;">NÃO CONTÉM</label>
                                        <input type="text" id="texto_busca0" onKeyPress="if (event.keyCode == 13) { location.href='/library' + resultadosRapida(); return false; }" />
                                        <br />
                                        <input type="checkbox" name="digital_bool_rapida" id="digital_bool_rapida" /><label class="digital" for="digital_bool_rapida">apenas itens digitalizados</label>

                                        <input type="checkbox" name="fraseexata_rapida" id="fraseexata_rapida" value="1" style="margin-left:30px;" /><label class="digital" for="fraseexata_rapida">buscar frase exata</label>

                                    </fieldset>
                                    <br/>
                                    <input type="button" id="botao_pesquisa_rapida" class="btn-buscar" style="margin-top:30px;margin-left:10px" value="buscar" onclick="location.href='/library' + resultadosRapida();">
                                </form>
                            </div>

                            <div id="tabs-2" style="display: none;">

                                <form action="" id="form-busca-combinada" method="get" style="max-width: 670px;">
                                    <fieldset class="busca-acervo">
                                        <select style="width:200px;" size="1" name="acervo" id="acervo" onchange="javascript: preencheCamposCombinados(this.value);">
					<option value="todos">Todos os materiais</option>
					<option value="fotografia" >Fotografias</option>
					<option value="coleta" >Instrumentos de coleta</option>
					<option value="livro" >Livros</option>
					<option value="mapa" >Mapas</option>
					<option value="periodico" >Periódicos</option>

				</select>
                <br />
                <select style="width:200px;" size="1" name="campo1" id="campo1">
					<option value="todos">Todos os campos</option>
				</select>
                    <input type="checkbox" name="not1" id="not1" /><label for="not1" class="digital">NÃO CONTÉM</label>

                    <input type="text" id="texto_busca1" onKeyPress="if (event.keyCode == 13) { location.href='/library' + resultados(); return false; }" />
                    <select class="peq" name="ope1" id="ope1" onchange="javascript: combinaCampos(this.value, this.id);">
				</select>
                <br />
                <select style="width:200px;" size="1" name="campo2" id="campo2" disabled>
					<option value="todos">Todos os campos</option>
				</select>
                        <input type="checkbox" name="not2" id="not2" /><label for="not2" class="digital">NÃO CONTÉM</label>

                        <input type="text" name="busca2" id="texto_busca2" onKeyPress="if (event.keyCode == 13) { location.href='/library' + resultados(); return false; }" disabled />
                        <select class="peq" name="ope2" id="ope2" disabled onchange="javascript: combinaCampos(this.value, this.id);">
				</select>
                                        <br />

                <select style="width:200px;" size="1" name="campo3" id="campo3" disabled>
					<option value="todos">Todos os campos</option>
				</select>

                <input type="checkbox" name="not3" id="not3" /><label for="not3" class="digital">NÃO CONTÉM</label>

                <input type="text" name="busca3" id="texto_busca3" onKeyPress="if (event.keyCode == 13) { location.href='/library' + resultados(); return false; }" disabled />

                <br />
                <input type="checkbox" name="digital_bool" id="digital_bool" /><label for="digital_bool" class="digital">apenas itens digitalizados</label>

                <input type="checkbox" name="fraseexata" id="fraseexata" value="1" style="margin-left:30px;" /><label class="digital" for="fraseexata">buscar frase exata</label>

                                    </fieldset>
                                    <input type="button" id="botao_pesquisa" class="btn-buscar" style="margin-top:20px;margin-left:10px" value="buscar" onclick="location.href='/library' + resultados();">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tabela_resultados" style="width:95%; height:relative; background-color:#E7EFEF;">
                </div>
                <datalist id="escalas">
                		<option value="">
                		<option value="1:1 000 000">
                		<option value="1:1 200 000">
                		<option value="1:1 250 000">
                		<option value="1:1 300 000">
                		<option value="1:1 400 000">
                		<option value="1:1 500 000">
                		<option value="1:1 580 000">
                		<option value="1:1 600 000">
                		<option value="1:1 650 000">
                		<option value="1:1 700 000">
                		<option value="1:1 750 000">
                		<option value="1:1 800 000">
                		<option value="1:1 900 000">
                		<option value="1:10 000 000">
                		<option value="1:100 000">
                		<option value="1:125 000">
                		<option value="1:130 000">
                		<option value="1:15 000 000">
                		<option value="1:150 000">
                		<option value="1:2 000 000">
                		<option value="1:2 400 000">
                		<option value="1:2 500 000">
                		<option value="1:2 700 000">
                		<option value="1:200 000">
                		<option value="1:200 000 000">
                		<option value="1:25 000">
                		<option value="1:250 000">
                		<option value="1:27 000 000">
                		<option value="1:3 000 000">
                		<option value="1:3 200 000">
                		<option value="1:3 500 000">
                		<option value="1:300 000">
                		<option value="1:350 000">
                		<option value="1:400 000">
                		<option value="1:450 000">
                		<option value="1:5 000 000">
                		<option value="1:5 500 000">
                		<option value="1:50 000">
                		<option value="1:500 000">
                		<option value="1:550 000">
                		<option value="1:6 000 000">
                		<option value="1:6 500 000">
                		<option value="1:600 000">
                		<option value="1:65 000 000">
                		<option value="1:650 000">
                		<option value="1:700 000">
                		<option value="1:75 000">
                		<option value="1:750 000">
                		<option value="1:800 000">
                		<option value="1:850 000">
                		<option value="1:90 000 000">
                		<option value="1:900 000">
                		<option value="1:950 000">
                		<option value="Escala não desenhada">
                		<option value="sem escala">
                		<option value="[1:20 000 000]">
                </datalist>
                <script type="text/javascript">
                    function cargaCatalogo()
                    {
                    	jQuery("#tabwrap").css("display", "block");
                    	
                    	jQuery("#busca-rapida").click(function(){
                    		jQuery('#tabs li, #tabs-container .current').removeClass('current');
                    		   jQuery("#tabs-2").hide();
                    		   jQuery("#tabs-1").show();
                    		   jQuery("#texto-buscaRapida").show();
                    		   jQuery("#texto-buscaCombinada").hide();
                    		   jQuery("#tabs-1").addClass('current');
                    		   jQuery(this).parent().addClass('current');
                    	});
                    	
                    	jQuery("#busca-combinada").click(function(){
                    	jQuery('#tabs li, #tabs-container .current').removeClass('current');
                    		   jQuery("#tabs-1").hide();
                    		   jQuery("#texto-buscaRapida").hide();
                    		   jQuery("#texto-buscaCombinada").show();
                    		   jQuery("#tabs-2").show();
                    		   jQuery("#tabs-2").addClass('current');
                    		   jQuery(this).parent().addClass('current');
                    	});
                    	
                    		   jQuery("#tabs-2").hide();
                    	   jQuery("#tabs-1").show();
                    	   jQuery("#texto-buscaRapida").show();
                    	   jQuery("#texto-buscaCombinada").hide();
                    	   jQuery("#tabs-1").addClass('current');
                    	   jQuery("#busca-rapida").parent().addClass('current');
                    	}
                    
                    function listaBooleanos(parentElement){
                    	jQuery("select[name^='ope']").append('<option value="0">---</option>\
                    	<option value="and">E</option>\
                    	<option value="or">OU</option>');
                    }
                    function lazyLoadMe(){
                    	jQuery("img.lazy").lazyload();
                    }
                    
                    jQuery("input[id^='texto_busca']").on('focus',function(){
                    	if(document.getElementById("campo"+this.id.substr(-1)).value == "escala"){	
                    		this.setAttribute("list","escalas");
                    	}else{
                    		this.removeAttribute("list");
                    	}
                    });
                    listaBooleanos();
                    defer(cargaCatalogo);
                    defer(lazyLoadMe);
                </script>
            </div>
            <br clear="all" />
        </div>
    </div>
</body>

</html>